@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Merriweather", serif;
    max-width: 1320px;
    margin: auto;



}

* {
    margin: 0;
    padding: 0;
}

.liner-bg {
    background: repeating-linear-gradient(90deg,
            #ffcccc 0px,
            #ffcccc 70px,
            #fff 60px,
            #fff 90px);
    padding-top: 40px;

}

.header {
    height: 600px;
    background:
        linear-gradient(180deg, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0) 100%),
        url('../asstes/images/Banner-Image.png');
    ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;

}

.sub-title {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
}

.title {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
    text-align: center;
}

.Offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin-top: 120px;
}

.off-title {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.off-des {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.off-cat {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.welcome {
    height: 600px;
    border-radius: 16px;
    border-bottom: none;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(../asstes/images/Vectorrr.png);
    background-position: center;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding: 0 120px;
}

.welcome-title {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
}

.welcome-description {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin: 48px 0px;
}

.welcome-pic {
    height: 300px;
}

.welcome-btn {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
}

.address {
    border-radius: 10px;
    height: 400px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin-top: 120px;
}

.color {
    color: #FF0000;
}

.address-btn {
    background-color: #FF0000;
    border: none;
    border-radius: 8px;
    padding: 16px 32px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 48px;
}

.best-offer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 70px;
    margin-top: 120px;
    margin-left: 10px;

}

.offer-container {
    flex: 1;
}

.offer-image {
    flex: 1;
    border-radius: 9999px;
    box-sizing: border-box;
    border: 15px solid rgb(255, 0, 0);
    padding: 30px;
}

.offer-descriptin {
    flex: 1;
    padding-left: 10px;
}

.offer-sub-title {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.offer-title {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 20px;
}

.offer-para {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 100px;
}

.offer-descriptin-tile {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
}

.holiday {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 120px;
    margin-top: 120px;

}

.holiday-sub-title {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;

}

.holiday-title {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: center;
}

.holiday-description {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}

.discount {
    height: 80vh;
    position: relative;
}

.box {
    position: absolute;
    bottom: 0;
    width: 1320px;
}

.col {
    position: absolute;
    bottom: 0;
    width: 600px;
    animation: confetti 2s infinite;
}



.dis {
    position: absolute;
    right: 50px;
    top: 100px;
    width: 200px;
}

.portfolio {
    margin-top: 120px;

}

.port-title {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;



}

.port-photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    opacity: 0.80;
    margin-top: 20px;
}

.contact {
    margin-top: 120px;
    height: 600px;
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

form {
    position: relative;
}

.form-input {

    border-radius: 50px;
    border: none;
    padding: 24px 50px;
    width: 600px;
    color: rgba(7, 2, 17, 0.3);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.submit-btn {
    border-radius: 0px 50px 50px 0px;
    background: rgb(255, 0, 0);
    border: none;
    padding: 24px 56px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

}

.contact-title {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.contact-dis {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}